html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
input, button, select{
  outline: none !important;
}
input:focus, button:focus, select:focus{
  border-color: transparent !important;
  box-shadow: 0 0 8px #9f9f9f !important;
}
footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
  text-dectoration: none;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

ul>li{
  list-style: none;
}


.body .container
  {
    margin: 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

.body .button, .button:visited
  {
    display: inline-block;
    color: black;
    letter-spacing: 1px;
    background-color: #fff;
    border: 2px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 45px;
  }

.body .button:hover, .button:focus
  {
    color: #fff;
    background-color: #000;
  }

.body .title
  {
    color: #000;
    font-weight: 300;
    font-size: 2.5em;
    margin: 0;
  }
.body .left_list >a:hover {
    text-dectoration: none;
  }
.body .left {
    background: black;
    height: 800px;
  }
.body .right {
    position: relative;
    height:800px;
    overflow: hidden;
    border:1px solid black;
  }
.body .left_list>li>a {
    font-size: 16px;
    color:white;
  }
.body .title>h3 {
    padding: 5px;
    color:white;
    font-weight: bold;
    text-align: center;
  }


